<!-- Footer -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted bg-gradiant border">
    
    <!-- Section: Links  -->
    <section class="container-fluid text-white">
      <div class="container-fluid text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-building me-3"></i> Anjos do Preço
            </h6>
            <p class="text-white">
                A nossa corporação tem como objetivo vender
                produtos se baseando na condição
                financeira atual do cliente, utilizando um
                método de validação através de documentos que comprovam sua renda baixa.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-white">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Deixe-nos ajudá-lo
            </h6>
            <p>
              <a href="#!" class="text-reset">Sua conta</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Frete e prazo de entrega</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Devoluções e reembolsos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ajuda ♥</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Conheça-nos
            </h6>
            <p>
              <a href="#!" class="text-reset">Informações corporativas</a>
            </p>
            <p>
              <a routerLink='/sobre-nos' href="#!" class="text-reset">Sobre nós</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Comunicados à imprensa</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Comunidade</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Localização
            </h6>
            <p><i class="fas fa-home me-3"></i> São Paulo, Avenida Paulista, BR</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.19758445808!2d-46.65868124940495!3d-23.561346184607743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.%20Paulista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1633997346245!5m2!1spt-BR!2sbr" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
    <hr class="">


    
      <!-- Inicio da Section: Social media -->
      <section class="container-fluid d-flex ml-5 mr-5">
        <!-- Esquerda -->
        <div class="container">
              <div class="row d-flex justify-content-center mb-2">
                          <div class="col-4">
                              <div class="mr-5">
                                  <div class="container d-flex justify-content-center">
                                      <div class="row d-flex justify-content-center text-white">
                                          <h3 class="">Forma de Pagamento</h3>
                                          <div class="col-md-12">
                                              <p>Crédito | Débito</p>
                                              <a class="m-1 fs" role="button"><i class="fab fa-cc-visa "></i></a>
                                              <a class="btn-floating m-1 fs" role="button"><i class="fab fa-cc-paypal"></i></a>
                                              <a class="btn-floating m-1 fs" ><i class="fab fa-cc-amex"></i></a>
                                              <a class="btn-floating m-1 fs" role="button"><i class="fab fa-cc-mastercard"></i></a>
                                              <a class="btn-floating m-1 fs" role="button"><i class="fab fa-cc-paypal"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
              
                          <div class="col-4"> 

                                      <h5 class="text-white">Redes Sociais</h5>

                                      <p class="text-white">Redes Sociais</p>

                                        <a class="btn btn-outline-light btn-floating m-1 " href="#!" role="button"><i class="fab fa-facebook-f w-100"></i></a>
                                  
                                        <!-- Twitter -->
                                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                                  
                                        <!-- Google -->
                                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
                                  
                                        <!-- Instagram -->
                                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                                  
                                        <!-- Linkedin -->
                                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                                  
                                        <!-- Github -->
                                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
                            </div>
                              <!-- fim - Centro-->
                              <!-- Direita -->
                              <div  class="col-md-4">
                                  <div class="d-flex justify-content-center">
                                      <h5 class="text-white text"> Central de Atendimento</h5>
                                      <h6></h6>
                                  </div>
                              </div>
                     <!-- fim - Direita -->
              </div>
            </div>
      </section>
      <!--Fim da Section: Social media -->
  
    <!-- Copyright -->
    <div class="text-center p-4 bg-Copy text-white">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href=""> Anjos do Preço <i class="fab fa-expeditedssl"></i></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

