<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12">

                          <!--CARROSSEL-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="https://carrefourbrfood.vtexassets.com/assets/vtex.file-manager-graphql/images/42377600-d858-4528-a2d3-841a01e53216___133e56fea80cb29de0ae6ce405495660.jpg?width=1920&aspect=true&quality=9" alt="Primeiro Slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="https://carrefourbrfood.vtexassets.com/assets/vtex.file-manager-graphql/images/679e5bbb-6458-4aa1-9527-e4f473cc29ec___cc121ecbc220bc9d73a95fd41a388e81.jpg?width=1920&aspect=true&quality=9" alt="Segundo Slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="https://carrefourbrfood.vtexassets.com/assets/vtex.file-manager-graphql/images/eba8fb50-680e-4947-90bf-f3b3c511994d___d1c9f217ceb03303a452e89ac6017c56.jpg?width=1920&aspect=true&quality=9" alt="Terceiro Slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Próximo</span>
                </a>
              </div>
                                 <!--/CARROSSEL-->

                                 <!--NAV-->
            <nav class="nav nav-pills nav-fill mt-5 mb-5">
                <a class="nav-item nav-link active" href="#cestaBasica">Cesta Básica</a>
                <a class="nav-item nav-link" href="#chocolates">Doces e Chocolates</a>
                <a class="nav-item nav-link" href="#bebidas">Bebidas</a>
              </nav>
                                 <!--/NAV-->

                                 <!--PRODUTOS-->
            <h1 class="text-center font-weight-bold mb-5">Cesta Básica</h1>
            <div class="row">
            <div class="card-deck">
    <div class="card border-primary mb-3" id="cestaBasica" style="max-width: 18rem;">
    <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/15813910-720-720?v=637540293323270000" alt="Açúcar">
    <div class="card-body">
      <h5 class="card-title">Açúcar Refinado União 1Kg</h5>
      <p class="card-text font-weight-bold">R$4,50</p>
      <small class="text-secondary">Anjo paga: R$3,60</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
  </div>

  <div class="card border-primary mb-3" style="max-width: 18rem;">
  <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/193474-720-720?v=637272430236930000" alt="Arroz">
    <div class="card-body">
      <h5 class="card-title">Arroz Branco Longo-fino Tipo 2 Camil Todo Dia 5 Kg</h5>
      <p class="card-text font-weight-bold">R$24,50</p>
      <small class="text-secondary">Anjo paga: R$20,00</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
  </div>

  <div class="card border-primary mb-3" style="max-width: 18rem;">
  <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/205423-720-720?v=637272457079730000" alt="Farinha">
    <div class="card-body">
      <h5 class="card-title">Farinha de Trigo Tradicional Dona Benta 1kg</h5>
      <p class="card-text font-weight-bold">R$4,60</p>
      <small class="text-secondary">Anjo paga: R$3,68</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
  </div>

  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/195185-720-720?v=637272434446100000" alt="Feijão">
    <div class="card-body">
      <h5 class="card-title">Feijão Preto Tipo 1 Camil Todo Dia 1 Kg</h5>
      <p class="card-text font-weight-bold">R$8,20</p>
      <small class="text-secondary">Anjo paga: R$6,66</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
  </div>

  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/194266-720-720?v=637272432288500000" alt="Café">
    <div class="card-body">
      <h5 class="card-title">Café em Pó 3 Corações Extraforte 500g</h5>
      <p class="card-text font-weight-bold">R$14,30</p>
      <small class="text-secondary">Anjo paga: R$11,50</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
  </div>
</div>
</div>

  <div class="row">
  <div class="card-deck">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/190725-720-720?v=637272424072630000" alt="Leite">
        <div class="card-body">
          <h5 class="card-title">Leite Integral UHT Danone Paulista 1 Litro</h5>
          <p class="card-text font-weight-bold">R$4,60</p>
          <small class="text-secondary">Anjo paga: R$3,70</small>
        </div>
        <div class="card-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
     </div>
  </div>

  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/14648737-720-720?v=637511892564730000" alt="Batata">
    <div class="card-body">
      <h5 class="card-title">Batata Monalisa</h5>
      <p class="card-text font-weight-bold">R$17,00/kg</p>
      <small class="text-secondary">Anjo paga: R$13,60/kg</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
</div>

<div class="card border-primary mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/14648746-720-720?v=637511892689470000" alt="Tomate">
    <div class="card-body">
      <h5 class="card-title">Tomate Italiano</h5>
      <p class="card-text font-weight-bold">R$16,00/kg</p>
      <small class="text-secondary">Anjo paga: R$12,80</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
</div>

<div class="card border-primary mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/14648753-720-720?v=637511892776270000" alt="Banana">
    <div class="card-body">
      <h5 class="card-title">Banana da Terra</h5>
      <p class="card-text font-weight-bold">R$15,30/kg</p>
      <small class="text-secondary">Anjo paga: R$12,40/kg</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
</div>

<div class="card border-primary mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/219194-720-720?v=637272528367470000" alt="Pão">
    <div class="card-body">
      <h5 class="card-title">Pão de Forma Integral Bauducco 400g</h5>
      <p class="card-text font-weight-bold">R$6,60</p>
      <small class="text-secondary">Anjo paga: R$5,30</small>
    </div>
    <div class="card-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
 </div>
</div>
</div>
</div>

<div class="row">
    <div class="card-deck">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/14034931-720-720?v=637498707474930000" alt="Carne">
            <div class="card-body">
              <h5 class="card-title">Maminha à Vácuo Peça 1kg</h5>
              <p class="card-text font-weight-bold">R$52,00</p>
              <small class="text-secondary">Anjo paga: R$41,60</small>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/6908553-720-720?v=637347553340800000" alt="Carne">
            <div class="card-body">
              <h5 class="card-title">Pernil Suíno Congelado Temperado Sadia 900g</h5>
              <p class="card-text font-weight-bold">R$22,50</p>
              <small class="text-secondary">Anjo paga: R$18,00</small>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/15891483-720-720?v=637541734703500000" alt="Óleo">
            <div class="card-body">
              <h5 class="card-title">Óleo de Girassol Mazola 900ml</h5>
              <p class="card-text font-weight-bold">R$15,00</p>
              <small class="text-secondary">Anjo paga: R$12,00</small>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/217931-720-720?v=637272526184730000" alt="Manteiga">
            <div class="card-body">
              <h5 class="card-title">Manteiga sem Sal Paulista em Barra 200g</h5>
              <p class="card-text font-weight-bold">R$13,45</p>
              <small class="text-secondary">Anjo paga: R$11,80</small>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/190677-720-720?v=637272423997270000" alt="Margarina">
            <div class="card-body">
              <h5 class="card-title">Margarina Cremosa com Sal Qualy 500g</h5>
              <p class="card-text font-weight-bold">R$7,30</p>
              <small class="text-secondary">Anjo paga: R$5,80</small>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>
    </div>
</div>

<hr>

<!--DOCES E CHOCOLATES-->
<h1 class="text-center font-weight-bold mb-5 mt-3" id="chocolates">Doces e chocolates</h1>
<div class="row">
    <div class="card-deck">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/11473900-720-720?v=637437262052270000" alt="Kit-kat">
            <div class="card-body">
              <h5 class="card-title">
                Mini Chocolate ao Leite com Biscoito Kit Kat 41,5 g</h5>
              <p class="card-text font-weight-bold">R$2,95</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/207474-720-720?v=637272505220600000" alt="Margarina">
            <div class="card-body">
              <h5 class="card-title">Chocolate ao Leite Lacta 90g</h5>
              <p class="card-text font-weight-bold">R$4,55</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/11473872-720-720?v=637437261882030000" alt="Sobremesa">
            <div class="card-body">
              <h5 class="card-title">Sobremesa Moça de Colher 395 g</h5>
              <p class="card-text font-weight-bold">R$8,40</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/194569-720-720?v=637272433100370000" alt="Margarina">
            <div class="card-body">
              <h5 class="card-title">Leite Condensado Itambé Lata 395g</h5>
              <p class="card-text font-weight-bold">R$6,30</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>
    </div>
</div>

<hr>

<!--BEBIDAS-->
<h1 class="text-center font-weight-bold mb-5 mt-3" id="bebidas">Bebidas</h1>
<div class="row">
    <div class="card-deck">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/18904696-720-720?v=637590231154400000" alt="Fanta">
            <div class="card-body">
              <h5 class="card-title">Fanta Uva Lata 220 ml</h5>
              <p class="card-text font-weight-bold">R$2,20</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/189960-720-720?v=637272421155000000" alt="Pepsi">
            <div class="card-body">
              <h5 class="card-title">Pepsi Cola 1,5 Litros</h5>
              <p class="card-text font-weight-bold">R$5,25</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/214038-720-720?v=637272518278270000" alt="Agua">
            <div class="card-body">
              <h5 class="card-title">Água Mineral com Gás Bonafont Aromatizada Garrafa 1,27 Litros</h5>
              <p class="card-text font-weight-bold">R$3,60</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/23252912-720-720?v=637655885399700000" alt="Cerveja">
            <div class="card-body">
              <h5 class="card-title">Cerveja Heineken Zero Garrafa 330 ml</h5>
              <p class="card-text font-weight-bold">R$4,99</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
         </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-deck">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/198785-720-720?v=637272442958730000" alt="Monster">
        <div class="card-body">
          <h5 class="card-title">Energético Monster 473ml</h5>
          <p class="card-text font-weight-bold">R$7,50</p>
        </div>
        <div class="card-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
     </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/6260527-720-720?v=637342241768300000" alt="Monster Cha">
        <div class="card-body">
          <h5 class="card-title">Energético Monster Sabor Lemon Energy Dragon Ice Tea 473ml</h5>
          <p class="card-text font-weight-bold">R$7,50</p>
        </div>
        <div class="card-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
     </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/16928743-720-720?v=637558213022100000" alt="RedBull">
        <div class="card-body">
          <h5 class="card-title">Energético Red Bull Energy Drink Tropical Edition 250 ml com 4 latas</h5>
          <p class="card-text font-weight-bold">R$30,00</p>
        </div>
        <div class="card-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
     </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <img class="card-img-top" src="https://carrefourbr.vtexassets.com/arquivos/ids/16928730-720-720?v=637558212926900000" alt="RedBull">
        <div class="card-body">
          <h5 class="card-title">Energético Red Bull Energy Drink 250 ml com 4 latas</h5>
          <p class="card-text font-weight-bold">R$30,00</p>
        </div>
        <div class="card-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>   
     </div>
    </div>
</div>
</div>

                                 <!--/PRODUTOS-->

        
    </div>
</div>