<div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col mt-5 mb-5 d-flex justify-content-center">
              <div class="card border border-dark rounded   " style="width: 25rem;">
                <img class="card-img-top" src="https://i.imgur.com/xAmWQih.jpg" alt="Foto de perfil - Enzo Fulaneto">
                <div class="card-body">
                  <h5 class="card-title text-center"><u>Enzo Fulaneto</u></h5>

                  <p class="card-text">
                    Olá, me chamo Enzo Fulaneto, tenho 18 anos e você está dentro do maior projeto que eu fiz (por enquanto!).
                    Por aqui passei por todas as fases de um dev Full-Stack, desde o back-end aos detalhes do front, junto com o grupo, 
                    principalmente o grande Lucas Aguiar. Se houve interesse no meu perfil, confira abaixo meu LinkedIn e GitHub e se sinta 
                    a vontade pra entrar em contato comigo!</p>

                    <hr class="border-dark">
              
                    <div class="text-center">
                      <!-- Linkedin -->
                      <a class="btn btn-outline-light btn-floating m-1 color" href="https://www.linkedin.com/in/enzo-fulaneto-32a9b4205" target="blank" role="button"><i class="fab fa-linkedin-in fs-25"></i></a>
                                                
                      <!-- Github -->
                      <a class="btn btn-outline-light btn-floating m-1 color" href="https://github.com/EnzoFulaneto" target="blank" role="button"><i class="fab fa-github fs-25"></i></a>
                      </div>
                </div>
              </div>
           </div>

          <div class="col mt-5 mb-5 d-flex justify-content-center">
              <div class="card border border-dark rounded   " style="width: 25rem;">
                <img class="card-img-top" src="https://i.imgur.com/ul9824R.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center"><u>Lucas Aguiar</u></h5>

                  <p class="card-text">
                    Prazer, meu nome é Lucas, eu tenho 20 anos, atualmente 
                    estou me formando em Análise e Desenvolvimento de 
                    Sistemas na UNIP, além de ter cursado Desenvolvimento 
                    de Sistemas na Etec e participar do Bootcamp da 42Sp, sou 
                    Proativo e Autodidata, tenho como objetivo fazer pós-graduação 
                    em Ciência da Computação e futuramente me formar em 
                    Cybersecurity.
                  </p>

                  <hr class="border-dark">

                  <div class="text-center">
                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1 color" href="https://www.linkedin.com/in/lucasaguiardev/" target="blank" role="button"><i class="fab fa-linkedin-in fs-25"></i></a>
              
                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1 color" href="https://github.com/LukyAguiar" target="blank" role="button"><i class="fab fa-github fs-25"></i></a>

                  </div>

                </div>
              </div>
        </div>

        <div class="container-fluid mt-4">
          <div class="d-flex justify-content-center">
              <blockquote class="blockquote text-center">
                <p class="mb-0">O Anjos do Preço é um e-commerce de um supermecado. Seu diferencial é a ideia central do projeto, que em parceria com o governo dá descontos, de cerca de 20%
                  ,em produtos de cesta básica a pessoas de baixa renda <br> (a qual deve ser comprovada através de documentos.)</p>
                <footer class="blockquote-footer">Anjos do Preço <cite title="Título da fonte"> | Generation Brasil</cite></footer>
              </blockquote>
          </div>
            <p>
              
            </p>
        </div>


  </div>


























</div>